.col {
    min-height: 100px;
    border: 1px solid blue;

}
.col-2 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-3 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-4 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-5 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-6 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-7 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-8 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-9 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-10 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-11 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-12 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-1 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-2 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-3 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-4 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-5 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-6 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-7 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-8 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-9 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-10 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-11 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-md-12 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-1 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-2 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-3 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-4 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-5 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-6 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-7 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-8 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-9 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-10 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-11 {
    min-height: 100px;
    border: 1px solid blue;

}
.col-lg-12 {
    min-height: 100px;
    border: 1px solid blue;

}